{{/* go template comment */}}

<!DOCTYPE html>
<html>
    <head>
        <title>Member</title>
        <meta charset="UTF-8">
    </head>

    <body>
        {{/*A pipeline is a possibly chained sequence of "commands". A command is */}}
        {{/* a simple value (argument) or a function or method call, possibly with multiple arguments*/}}

        {{/*If the value of the pipeline is empty, no output is generated;*/}}
        {{/*The empty values are false, 0, any nil pointer or interface value, */}}
        {{/*and any array, slice map, or string of length zero. */}}

        {{if .Member}}
            <h1>Thank you for joining</h1>
        {{else}}
            <h1>Please signup to enjoy memberhip benefits</h1>
        {{end}}

    </body>
</html>